.column {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  padding-right: 10px;
}

.task {
  margin-bottom: 20px;
  margin-right: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: rgba(146, 85, 80, 0.1);
  /* Not removed via appearance */
  margin: 0;
  margin-right: 5px;
  font: inherit;
  color: #261935;
  width: 0.70em;
  height: 0.70em;
  border: 0.10em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-top: 5px;
  padding: 8px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgba(0, 0, 0, 0.5) ;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.textbox {
  font-size: 16px;
  padding: 2px;
  width: 250px;
  text-align: center;
  margin-right: 4px;
  border-radius: 5px;
  
  outline: none;
  border: none;
  height: 32px;
  background: rgba(38, 25, 53, 0.1);
  color: #261935;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  letter-spacing: 1px;
  font-weight: bold;
}


::placeholder{
  color: #452646;
}

.textarea {
  font-size: 16px;
  padding: 2px;
  max-width: 250px;
  min-width: 250px;
  height: 100px;
  max-height: 150px;
  min-height: 100px;
  text-align: center;
  margin-right: 4px;
  border: 2px solid transparent;
  border-radius: 5px;

  outline: none;
  border: none;
  height: 32px;
  background: rgba(0, 0, 0, 0.1);
  color: #261935;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  letter-spacing: 1px;
  font-weight: bold;
}

.h2 {
  font-size: 38px;
  margin-bottom: 16px;
  color: #261935;
  padding: 15px 0;
  letter-spacing: 5px;
  font-weight: bold;
}

.errorInput {
  font-size: 18px;
  color: #700909;
  padding: 10px 0;
  letter-spacing: 2px;
  font-weight: bold;
}

.h3 {
  font-size: 18px;
  color: #261935;
  margin-top: 0;
  text-align: left;
  justify-content: left;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 15px;
}

.button {
  appearance: none;
  background: none;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(107, 28, 56, 0.5);
  transition: all 0.15s;
  border-radius: 20px;
  font-weight: bold;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(146, 85, 80, 0.5);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.asyncButton {
  composes: button;
  position: relative;
}

.asyncButton:after {
  content: '';
  background-color: rgba(112, 76, 182, 0.15);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width 1s linear, opacity 0.5s ease 1s;
}

.asyncButton:active:after {
  width: 0%;
  opacity: 1;
  transition: 0s;
}

/* Custom styles */

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url('https://i.pinimg.com/originals/7f/f5/aa/7ff5aa2204c532c80dcc425080aeb1be.jpg');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  transition: all .2s linear;
}  

.contaiter {
  white-space: nowrap;
  height: 500px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0  5px 15px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 20px;
  margin: 20px;
}

ul{
  width:90%;
  height:90%;
  overflow-y:auto;
  position:solid;
}

ul li{
  list-style:none;
  margin-left:0;
  padding:6px;
}

.wrapper{
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0  5px 15px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  height: 540px;
  position:relative;
}

.hr {
  width: 100%;
  height: 2px;
  background-color: rgba(38, 25, 53, 0.3);
  margin-top: 10px;
  margin-bottom: 10px;
}


